<%- include('../public/header')%>
<div>
  <div class="list_container"><%- include('./home/navBar') %></div>
  <h1 class="Titulo">Desafio Login</h1>
  <div class="list_container"><%- include('./home/productTable') %></div>
  <hr />
  <div class="list_container"><%- include('./home/chat') %></div>
</div>
<script type="module" src="./js/home.js"></script>

<%- include('../public/footer')%>
