<%- include('../public/header')%> <%- include('./partials/navbar')%>
<br />

<hr />
  <div class="list_container"><%- include('./index/productTable') %></div>

<hr />
  <div class="list_container"><%- include('./index/chat') %></div>
  <hr />

<script type="module" src="../public/js/home.js"></script>

<%- include('../public/footer')%>
